.Nav_cnt {
  width: 100%;
  background-color: rgb(59,65,71); 
  padding: 20px 0px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.nav_mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_midleft,
.nav_midright {
  display: flex;
  align-items: center;
  gap: 20px;
}


.nav_midleft li,
.nav_midright li {
  list-style: none;
}


.nav_midleft li a,
.nav_midright li a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav_midleft li a:hover,
.nav_midright li a:hover {
  color: #ffc107; 
  transform: translateY(-2px);
}

.logout-btn {
  background: none; 
  border: none;     
  color: #fff;  
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
}


.logout-btn:hover {
  color: #ffc107;
    transform: translateY(-2px);
  
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .nav_mid {
    flex-direction: column;
    gap: 10px;
  }

  .nav_midleft,
  .nav_midright {
    flex-direction: column;
    gap: 10px;
  }
}
